* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    align-content: center;
    align-items: center;
}

.container {
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: 'Russo One', sans-serif;
    padding-top: 1rem;

} 

h2 {
    font-family: 'Russo One', sans-serif;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
} 

body {
    font-family: 'Roboto', sans-serif;
}

footer {
    margin-top: 2rem;
    font-size: 0.6rem;
}

form input {
    margin-top: 10px;
    text-align: left;
}

form label {
    padding-left: 6px;
    padding-right: 6px;
}

hr {
    margin-top: 24px;
}

.button {
    padding: 0 16px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#newtask {
    padding: 3px;
}

@media screen and ( min-width: 1200px ) {
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    ul {
        list-style-type: none;
    }
}
