* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    font-size: 22px;
}

section {
    background-color: whitesmoke;
    opacity: 0.7;
    padding: 0.3rem;
    margin: 0.3rem;
    margin-top: 1.2rem;
    min-height: 50vh;
    border: 2px black solid;
    border-radius: 15px;
    width: 90%;
}

.container {
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: 'Russo One', sans-serif;
    padding-top: 1rem;

} 

h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 1.6rem;
    padding-top: 1.6rem;
    padding-bottom: 2rem;
} 

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(".././img/mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    margin-top: 2rem;
    font-size: 0.6rem;
}

form input {
    margin-top: 10px;
    text-align: left;
}

form label {
    padding-left: 6px;
    padding-right: 6px;
}

hr {
    margin-top: 24px;
}

.button {
    padding: 0 16px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.yellow {
    background-color: gold;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

input {
    margin: 10px;
}

#newtask {
    padding: 3px;
}

ul {
    list-style-type: none;
}

li {
    margin: 0.5rem;
    text-align: left;
    background-color: whitesmoke;
}

.task-name {
    font-weight: bold;
    display: inline-block;
}

.task-date {
    text-align: left;
    margin-left: 32px;
    font-size: 0.8rem;
}

.deleteButton {
    margin-left: 32px;
}

.first-pending.task-date,
.activateButton.first-pending {
    margin-left: 0;
}

@media screen and ( min-width: 1400px ) {
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
    section {
        width: 30%;
    }
}
